## PostgreSQL Summary

1. 테이블명 변경

In [ ]:
ALTER TABLE table_name RENAME TO new_name;

2. 컬럼명 변경

In [ ]:
ALTER TABLE table_name RENAME COLUMN a_name TO b_name;

3. 컬럼 타입 변경

In [ ]:
ALTER TABLE table_name ALTER COLUMN column_name TYPE NUMERIC(2,0);

4. 컬럼 삭제

In [ ]:
ALTER TABLE table_name DROP column_name;

## Code Executed

In [2]:
import glob
glob.glob("./*.ipynb")

['.\\trial_markdown.ipynb']

## Pandas DataFrame

In [3]:
import pandas as pd
from tabulate import tabulate
temp_df = pd.DataFrame({'name':['Alice', 'Bob', 'Chris'], 'Age':[20, 50, 15]})
# print(temp_df.to_markdown())
print(tabulate(temp_df, tablefmt="pipe", headers="keys"))

ModuleNotFoundError: No module named 'tabulate'